{% extends "blog/base.html" %}
{% block content %}
<div class="container article-content ">
	<h1>About us</h1>
	
	<p>Hello, and welcome to my website. I am very proud of the security features we have in our website.
	Thank you for giving me this opportunity to talk about it. My blog is written in Django, which is part of Python. Python is a very secure language, and Django is one of the most secure web frameworks available. This makes my website very safe and reliable. I am very happy with the results I have achieved so far, and I plan to continue using Django and Python to create innovative and exciting new websites.</p>
</div>

{% endblock content%}