{% extends "blog/base.html" %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"d F, Y" }}</small>
            {% if object.author == user %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
    </div>
</article>

<div>
    <!-- LIKES -->
    {% if user.is_authenticated %}
    <form action="{% url 'post_like' object.id %}" method="POST">
        {% csrf_token %}
        {% if post_is_liked %}
        <button type="submit" name="post_id" value="{{ object.id }}" class="btn btn-info">Unlike</button>
        {% else %}
        <button type="submit" name="post_id" value="{{ object.id }}" class="btn btn-info">Like</button>
        {% endif %}
    </form>
    {% else %}
    <a class="btn btn-outline-info" href="{% url 'login' %}?next={{ request.path }}">Log in to like this article!</a><br>
    {% endif %}
    <strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>
</div>

<!-- List of comments -->
{% if comments %}
<div class="content-section mt-5">
    <div class="col-lg-6">
        Comment{{ comments.count|pluralize }}
        <span class="badge badge-dark ml-2">{{ comments.count }}</span>
    </div>
    {% for comment in comments %}
    <div class="col-lg-6">
        <div class="card p-2">
            <div class="row">
                <div class="col-12">
                    <p class="m-1 mt-3">{{ comment.content }}</p>
                    <p class="text-right text-muted"><small>{{ comment.date_commented }}</small></p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<!-- Form to leave a comment -->
<div class="content-section mt-5">
    <h3>Leave a comment</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name.label_tag }}
            <input type="text" class="form-control {% if form.name.errors %}is-invalid{% endif %}" id="id_name"
                name="name" value="{{ form.name.value|default:'' }}">
        </div>
        <div class="form-group">
            {{ form.content.label_tag }}
            <textarea class="form-control {% if form.content.errors %}is-invalid{% endif %}" id="id_content"
                name="content" rows="4">{{ form.content.value|default:'' }}</textarea>
        </div>
        <button class="btn btn-primary" type="submit">Reply</button>
    </form>
</div>
{% endblock content %}
